@import './reset.scss';
@import './theme/theme.scss';
@import './mixin/media.scss';
@import './animation/animation.scss';


.container {
  margin: 20px auto;
  max-width: 1440px;

  @include mobile {
    padding-inline: 20px 0;
  }
}

html {
  background-color: var(--bg-primary-main);
  transition: background-color .3s;
  color: var(--text-color)
}

.active-pin-edit {
  cursor: pointer;
  animation: spin 0.4s infinite;
}
