@use './variables' as dark;

@mixin dark-theme {
  --bg-main-color: #{dark.$bg-color-main};

  --bg-primary-color: #{dark.$bg-color-primary};
  --bg-secondary-color: #{dark.$bg-color-secondary};

  --text-color: white;

  --bs-color-primary: #{dark.$bs-color-primary};
}
