@use './variables' as light;

@mixin light-theme {
  --bg-main-color: #{light.$bg-color-main};
  
  --bg-primary-color: #{light.$bg-color-primary};
  --bg-secondary-color: #{light.$bg-color-secondary};

  --color-white: #{light.$color-white};
  --text-color: black;

  --bs-color-primary: #{light.$bs-color-primary};
}
